<div class="row bg-dark text-white">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../imgs/stadium.jpg">
      <div class="caption">
              <h3>SHARE</h3>
        <p>To your fellow sports lovers and party goers about the dos and donts of massive stadiums</p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../imgs/fat_wallet.jpg">
      <div class="caption">
              <h3>SAVE</h3>
        <p>Time and money by finding the best seat in the house</p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../imgs/stadium.jpg">
      <div class="caption">
         <h3>EXPERIENCE</h3>
        <p>A once in a life time oppurtunity by making the most of your seats</p>
      </div>
    </div>
  </div>
</div>
