{{> message}}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Forgot your password?</h1>
          <p class="col-lg-10 fs-4">No worries. Just fill out your username, and super secret security question in order to update your password.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form method="post" action="/forgot"  class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
              <label for="username"> Username: </label>
              <input type="text" name="username" required /> <br>
              <div class="container pt-2"></div>
              <label for="question"> what is your favorite teachers name? </label>
              <input type="text" name="question" required /> <br>
              <div class="container pt-2"></div>
              <label for="newPassword">what will your new password be? </label>
              <input type="text" name="newPassword" required /> <br>
              <div class="container pt-2"></div>
              <input type="submit" value="Change password" /> <br>
              <p>Don't have an account? 
                  <a href="/register">Register Here</a>
              </p>
        </form>
        </div>
      </div>
    </div>

{{!--
don't need this
{{#if message}}
    <p>{{messape}}</p>
{{/if}}
 --}}
