{{> message}}
<h2 class="text-center">Register</h2>
<form method="post" action="/register" class="text-center">
    <label for="username" class=> Username: </label>
    <input type="text" name="username" required /> </br>
    <div class="container pt-2"></div>
    <label for="password"> Password: </label>
    <input type="password" name="password" required /> </br>

    <label for="question"> What is the name of your favorite teacher? </label>
    <input type="text" name="question" required /> </br>

    <input type="submit" value="Register" />
    <p>Have an account? 
        <a href="/login">Login Here</a>
    </p>
</form>
{{> login-register-imgs}}
